<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here fer. */ 


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap" style="width:800px;padding-right:100px">
      {{ content }}


<!-------------------------------------------------------------2023 Here ------------------------------------------------------------>		    

	    
<!-------------------------------------------------------------Conference Papers Here ------------------------------------------------------------>		    
<h4 style="margin-bottom:0px;padding-top:20px;">Conference Papers</h4> 

    <!-- Item: Caelles2016 -->
<ol style="padding-left:0px;">

<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>JSSP</b></font>] <b>Deep Reinforcement Learning Guided Improvement Heuristic for Job Shop Scheduling,</b>
<br> Cong Zhang, <b>Zhiguang Cao</b>,  Wen Song, Yaoxin Wu, and Jie Zhang.<br>	
<i> International Conference on Learning Representations</i> <b>(ICLR)</b>, 2024. <a href="https://github.com/zcaicaros/L2S" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a> (Accept)
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>GLOP: Learning Global Partition and Local Construction for Solving Large-scale Routing Problems in Real Time,</b>
<br> Haoran Ye, Jiarui Wang, Helan Liang, <b>Zhiguang Cao</b>, Yong Li, and Fanzhang Li.<br>	
<i>38th AAAI Conference on Artificial Intelligence</i> <b>(AAAI)</b>, 2024. <a href="https://github.com/henry-yeh/GLOP?tab=readme-ov-file" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a> (Accept)
</p>	    
</li>	

<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>MOCOP</b></font>] <b>Collaborative Deep Reinforcement Learning for Solving Multi-Objective Vehicle Routing Problems,</b>
<br> Yaoxin Wu, Mingfeng Fan, <b>Zhiguang Cao</b>, Ruobin Gao, Yaqing Hou, and Guillaume Sartoretti.<br>	
<i>23rd International Conference on Autonomous Agents and Multi-Agent Systems</i> <b>(AAMAS)</b>, 2024. <a href="https://zhiguangcaosg.github.io/publications/"> <font color="#8F959A"><b>[Code&Paper]</b> </font></a> (Accept)
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Learning to Search Feasible and Infeasible Regions of Routing Problems with Flexible Neural k-Opt,</b>
<br> Yining Ma,  <b>Zhiguang Cao</b>, and Yeow Meng Chee.<br>	
<i>Advances in Neural Information Processing Systems</i> <b>(NeurIPS)</b>, 2023. <a href="https://github.com/yining043/NeuOpt" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a> 
</p>	    
</li>

<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Ensemble-based Deep Reinforcement Learning for Vehicle Routing Problems under Distribution Shift,</b>
<br> Yuan Jiang,  <b>Zhiguang Cao</b>, Yaoxin Wu, Wen Song, and Jie Zhang.<br>	
<i>Advances in Neural Information Processing Systems</i> <b>(NeurIPS)</b>, 2023. <a href="https://zhiguangcaosg.github.io/publications/"> <font color="#8F959A"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>

<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>ACO</b></font>] <b>DeepACO: Neural-enhanced Ant Systems for Combinatorial Optimization,</b>
<br> Haoran Ye, Jiarui Wang, <b>Zhiguang Cao</b>, Helan Liang, and Yong Li.<br>	
<i>Advances in Neural Information Processing Systems</i> <b>(NeurIPS)</b>, 2023. <a href="https://github.com/henry-yeh/DeepACO" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a> 
</p>	    
</li>

<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>MOCOP</b></font>] <b>Neural Multi-Objective Combinatorial Optimization with Diversity Enhancement,</b>
<br> Jinbiao Chen, Zizhen Zhang, <b>Zhiguang Cao</b>, Yaoxin Wu, Yining Ma, Te Ye, and Jiahai Wang.<br>	
<i>Advances in Neural Information Processing Systems</i> <b>(NeurIPS)</b>, 2023. <a href="https://github.com/bill-cjb/NHDE" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>

<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>MOCOP</b></font>] <b>Efficient Meta Neural Heuristic for Multi-Objective Combinatorial Optimization,</b>
<br> Jinbiao Chen, Jiahai Wang, Zizhen Zhang,  <b>Zhiguang Cao</b>, Te Ye, and Siyuan Chen<br>	
<i>Advances in Neural Information Processing Systems</i> <b>(NeurIPS)</b>, 2023. <a href="https://github.com/bill-cjb/EMNH" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>


<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>Benchmark</b></font>] <b>MetaBox: A Benchmark Platform for Meta-Black-Box Optimization with Reinforcement Learning,</b>
<br> Zeyuan Ma, Hongshu Guo, Jiacheng Chen, Zhenrui Li, Guojun Peng, Yue-Jiao Gong, Yining Ma, <b>Zhiguang Cao</b>.<br>	
<i>Advances in Neural Information Processing Systems</i> <b>(NeurIPS)</b>, 2023. <a href="https://github.com/GMC-DRL/MetaBox" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a> 
</p>	    
</li>


	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Towards Omni-generalizable Neural Methods for Vehicle Routing Problems,</b>
<br> Jianan Zhou, Yaoxin Wu, Wen Song, <b>Zhiguang Cao</b>, and Jie Zhang.<br>	
<i>International Conference on Machine Learning</i> <b>(ICML)</b>, 2023. <a href="https://github.com/RoyalSkye/Omni-VRP" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Multi-View Graph Contrastive Learning for Solving Vehicle Routing Problems,</b>
<br> Yuan Jiang, <b>Zhiguang Cao</b>, Yaoxin Wu, and Jie Zhang.<br>	
<i>The Conference on Uncertainty in Artificial Intelligence</i> <b>(UAI)</b>, 2023. <a href="https://zhiguangcaosg.github.io/publications/"> <font color="#566776"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>


 
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Learning Generalizable Models for Vehicle Routing Problems via Knowledge Distillation,</b>
<br> Jieyi Bi, Yining Ma, Jiahai Wang*, <b>Zhiguang Cao*</b>, Jinbiao Chen, Yuan Sun, and Yeow Meng Chee.<br>	
<i>Advances in Neural Information Processing Systems</i> <b>(NeurIPS)</b>, 2022. <a href="https://github.com/jieyibi/AMDKD" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>MOIP</b></font>] <b>Graph Learning Assisted Multi-Objective Integer Programming,</b>
<br> Yaoxin Wu, Wen Song, <b>Zhiguang Cao*</b>, Jie Zhang, Abhishek Gupta, and Mingyan Simon Lin.<br>	
<i>Advances in Neural Information Processing Systems</i> <b>(NeurIPS)</b>, 2022. <a href="https://zhiguangcaosg.github.io/publications/"> <font color="#8F959A"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Efficient Neural Neighbourhood Search for Pickup and Delivery Problems,</b>
<br> Yining Ma, Jingwen Li, <b>Zhiguang Cao*</b>, Wen Song, Hongliang Guo, Yuejiao Gong, and Yeow Meng Chee.<br>	
<i>31st International Joint Conference on Artificial Intelligence</i> <b>(IJCAI)</b>, pp. 4776-4784, 2022. <a href="https://github.com/yining043/PDP-N2S" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>	

<li>	    
<p>
<b>Interpreting Trajectories from Multiple Views: A Hierarchical Self-Attention Network for Estimating the Time of Arrival,</b>
<br> Zebin Chen, Xiaolin Xiao, Yuejiao Gong, Jun Fang, Nan Ma, Hua Chai, <b>Zhiguang Cao</b>.<br>	
<i>ACM SIGKDD International Conference on Knowledge Discovery and Data Mining</i> <b>(SIGKDD)</b>, 2022. <a href="https://github.com/YuejiaoGong/HierETA" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>SIP</b></font>] <b>Learning Scenario Representation for Solving Two-stage Stochastic Integer Programs,</b>
<br> Yaoxin Wu, Wen Song, <b>Zhiguang Cao*</b>, and Jie Zhang.<br>	
<i> International Conference on Learning Representations</i> <b>(ICLR)</b>, 2022. <a href="https://github.com/WXY1427/Learning-to-solve-stochastic-integer-programs" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>


<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Learning to Solve Routing Problems via Distributionally Robust Optimization,</b>
<br> Yuan Jiang, Yaoxin Wu, <b>Zhiguang Cao*</b>, and Jie Zhang.<br>	
<i>36th AAAI Conference on Artificial Intelligence</i> <b>(AAAI)</b>, 2022. <a href="https://github.com/jiang-yuan/Learning-routing-DRO" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>

	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Learning to Iteratively Solve Routing Problems with Dual-Aspect Collaborative Transformer,</b>
<br> Yining Ma, Jingwen Li, <b>Zhiguang Cao*</b>, Wen Song*, Le Zhang, Zhenghua Chen, and Jing Tang.<br>	
<i>Advances in Neural Information Processing Systems</i> <b>(NeurIPS)</b>, pp. 11096-11107, 2021. <a href="https://github.com/yining043/VRP-DACT" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>NeuroLKH: Combining Deep Learning Model with Lin-Kernighan-Helsgaun Heuristic for Solving the Traveling Salesman Problem,</b>
<br> Liang Xin, Wen Song, <b>Zhiguang Cao*</b>, and Jie Zhang.<br>	
<i>Advances in Neural Information Processing Systems</i> <b>(NeurIPS)</b>, pp. 7472-7483, 2021. <a href="https://github.com/liangxinedu/NeuroLKH"  target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>IP</b></font>] <b>Learning Large Neighborhood Search Policy for Integer Programming,</b>
<br> Yaoxin Wu, Wen Song, <b>Zhiguang Cao</b>, and Jie Zhang.<br>	
<i>Advances in Neural Information Processing Systems</i> <b>(NeurIPS)</b>, pp. 30075-30087, 2021. <a href="https://github.com/WXY1427/Learn-LNS-policy"  target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Multi-Decoder Attention Model with Embedding Glimpse for Solving Vehicle Routing Problems,</b>
<br> Liang Xin, Wen Song, <b>Zhiguang Cao*</b>, and Jie Zhang.<br>	
<i>35th AAAI Conference on Artificial Intelligence</i> <b>(AAAI)</b>, pp. 12042-12049, 2021. <a href="https://github.com/liangxinedu/MDAM"  target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>BPP</b></font>] <b>Solving 3D Bin Packing Problem via Multimodal Deep Reinforcement Learning,</b>
<br>Yuan Jiang, <b>Zhiguang Cao*</b>, and Jie Zhang.<br>	
<i>20th International Conference on Autonomous Agents and Multiagent Systems</i> <b>(AAMAS)</b>, pp. 1548-1550, 2021. (Extended Abstract)  <a href="http://www.ifaamas.org/Proceedings/aamas2021/pdfs/p1548.pdf"  target="_blank">[Link]</a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>JSSP</b></font>] <b>Learning to Dispatch for Job Shop Scheduling via Deep Reinforcement Learning,</b>
<br>Cong Zhang, Wen Song, <b>Zhiguang Cao*</b>, Jie Zhang, Puay Siew Tan, Chi Xu.<br>	
<i>Advances in Neural Information Processing Systems</i> <b>(NeurIPS)</b>, pp. 1621-1632, 2020. <a href="https://github.com/zcajiayin/L2D"  target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
<b>AATEAM: Achieving the Ad Hoc Teamwork by Employing the Attention Mechanism,</b>
<br>Shuo Chen, Ewa Andrejczuk, <b>Zhiguang Cao</b>, Jie Zhang.<br>	
<i>34th AAAI Conference on Artificial Intelligence</i> <b>(AAAI)</b>, pp. 7095-7102, 2020. <a href="https://aaai.org/ojs/index.php/AAAI/article/view/6196"  target="_blank">[Link]</a>
</p>	    
</li>    

<!--
<li>	    
<p>
<b>Training Task Allocation in Federated Edge Learning: A Matching-Theoretic Approach,</b>
<br>Jiawen Kang, Zehui Xiong, Dusit Niyato, <b>Zhiguang Cao</b>, Amir Leshem.<br>	
<i>IEEE 17th Annual Consumer Communications & Networking Conference</i> <b>(CCNC)</b>, 2020. 
</p>	    
</li>
-->

<!--
<li>	    
<p>
<b>An Integrated Approach for a Universal Routing Algorithm,</b>
<br>Mareike Hedderich, Ulrich Fastenrath, <b>Zhiguang Cao</b>, Michael Bell and Klaus Bogenberger.<br>	
<i> 22nd IEEE International Conference on Intelligent Transportation Systems </i> <b>(ITSc)</b>, pp. 3088-3093, 2019. <a href="https://ieeexplore.ieee.org/document/8917123" target="_blank">[Link]</a>
</p>	    
</li> 
-->
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>SSP</b></font>] <b>Maximizing the Probability of Arriving on Time: A Practical Q-Learning Method,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang, Frans Oliehoek and Ulrich Fastenrath.<br>	
<i>31st AAAI Conference on Artificial Intelligence</i> <b>(AAAI)</b>, pp. 4481-4487, 2017. <a href="https://dl.acm.org/doi/10.5555/3298023.3298218"  target="_blank">[Link]</a>
</p>	    
</li>  	
	
<!--	
<li>	    
<p>
<b>Multiagent-based Cooperative Vehicle Routing Using Node Pressure and Auctions,</b>
<br>Madhavan Seshadri, <b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang, and Ulrich Fastenrath.<br>	
<i>20th IEEE International Conference on Intelligent Transportation Systems</i> <b>(ITSc)</b>,  2017. <a href="https://ieeexplore.ieee.org/document/8317671" target="_blank">[Link]</a>
</p>	    
</li>
-->	

<li>	    
<p>
<b>Multiagent-based Route Guidance for Increasing the Chance of Arrival on Time,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang, and Ulrich Fastenrath.<br>	
<i>30th AAAI Conference on Artificial Intelligence</i> <b>(AAAI)</b>, pp. 3814-3820, 2016. <a href="https://dl.acm.org/doi/10.5555/3016387.3016441" target="_blank">[Link]</a>
</p>	    
</li>  	
	
<!--
<li>	    
<p>
<b>A Data-Driven Method for Stochastic Shortest Path Problem,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang, Dusit Niyato, and Ulrich Fastenrath.<br>	
<i>17th IEEE International Conference on Intelligent Transportation Systems</i> <b>(ITSc)</b>, pp. 1045-1052, 2014. <a href="https://ieeexplore.ieee.org/document/6957826" target="_blank">[Link]</a>
</p>	    
</li>
-->

<!--
<li>	    
<p>
<b>Routing Multiple Cars in Large Scale Networks: Minimizing Road Network Breakdown Probability,</b>
<br>Hongliang Guo, <b>Zhiguang Cao</b>, Jie Zhang, Dusit Niyato, and Ulrich Fastenrath.<br>	
<i>17th IEEE International Conference on Intelligent Transportation Systems</i> <b>(ITSc)</b>, pp. 2180-2187, 2014. <a href="https://ieeexplore.ieee.org/document/6958026" target="_blank">[Link]</a>
</p>	    
</li>
-->

<!--
<li>	    
<p>
<b>A Multi-hop Reputation Announcement Scheme for VANETs,</b>
<br><b>Zhiguang Cao</b>, Qin Li, Hoon Wei Lim, and Jie Zhang.<br>	
<i>IEEE International Conference on Service Operations and Logistics, and Informatics </i> <b>(SOLI)</b>, pp. 1045-1052, 2014. <a href="https://ieeexplore.ieee.org/document/6960728" target="_blank">[Link]</a>
</p>	    
</li>	
-->	

</ol> 	    
	    
<!-------------------------------------------------------------Journal Papers Here ------------------------------------------------------------>		    
<h4 style="margin-bottom:0px;padding-top:20px;">Journal Articles</h4>

    <!-- Item: Caelles2016 -->
<ol style="padding-left:0px;">





<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Learning Feature Embedding Refiner for Solving Vehicle Routing Problems,</b>
<br>Jingwen Li, Yining Ma, <b>Zhiguang Cao</b>, Yaoxin Wu, Wen Song, Jie Zhang, and Yeow Meng Chee.<br>	
<i> IEEE Transactions on Neural Networks and Learning Systems</i> <b>(TNNLS)</b>, 2023. <a href="https://github.com/Demon0312/Feature-Embedding-Refiner" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>

<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Learning Large Neighborhood Search for Vehicle Routing in Airport Ground Handling,</b>
<br>Jianan Zhou, Yaoxin Wu, <b>Zhiguang Cao</b>, Wen Song, Jie Zhang, and Zhenghua Chen.<br>	
<i> IEEE Transactions on Knowledge and Data Engineering</i> <b>(TKDE)</b>, 2023. <a href="https://github.com/RoyalSkye/AGH" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>


<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Neural Airport Ground Handling,</b>
<br>Yaoxin Wu, Jianan Zhou, Yunwen Xia, Xianli Zhang, <b>Zhiguang Cao</b>, and Jie Zhang.<br>	
<i> IEEE Transactions on Intelligent Transportation Systems</i> <b>(T-ITS)</b>, 2023. <a href="https://github.com/RoyalSkye/AGH" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>

<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>Planning</b></font>] <b>DRL-Searcher: A Unified Approach to Multi-Robot Efficient Search for a Moving Target,</b>
<br>Hongliang Guo, Qihang Peng, <b>Zhiguang Cao</b>, and Yaochu Jin.<br>	
<i> IEEE Transactions on Neural Networks and Learning Systems</i> <b>(TNNLS)</b>, 2023.  <a href="https://zhiguangcaosg.github.io/publications/"> <font color="#566776"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>


	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>Scheduling</b></font>] <b>Stochastic Economic Lot Scheduling via Deep Reinforcement Learning,</b>
<br>Wen Song, Nan Mi, Qiqiang Li, Jing Zhuang, and <b>Zhiguang Cao</b>.<br>	
<i>IEEE Transactions on Automation Science and Engineering</i> <b>(TASE)</b>, 2023. <a href="https://github.com/Meeea-914/elsp_drl" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>

<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>AC</b></font>] <b>Instance-Specific Algorithm Configuration via Unsupervised Deep Graph Clustering,</b>
<br>Wen Song, Yi Liu, <b>Zhiguang Cao</b>, Yaoxin Wu, and Qiqiang Li.<br>	
<i>Engineering Applications of Artificial Intelligence</i> <b>(EAAI)</b>, 2023. <a href="https://zhiguangcaosg.github.io/publications/"> <font color="#566776"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>

<li>	    
<p>
<b>Cooperative Trucks and Drones for Rural Last-Mile Delivery with Steep Roads,</b>
<br>Jiuhong Xiao, Ying Li, <b>Zhiguang Cao</b>, and Jianhua Xiao.<br>	
<i>Computers & Industrial Engineering</i> <b>(CAIE)</b>, 2023. 
</p>	    
</li>
	
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>Survey</b></font>] <b>A Review on Learning to Solve Combinatorial Optimization Problems in Manufacturing,</b>
<br> Cong Zhang, Yaoxin Wu, Yining Ma, Wen Song, Le Zhang, <b>Zhiguang Cao</b>, and Jie Zhang.<br>	
<i>IET Collaborative Intelligent Manufacturing</i> <b>(CIM)</b>, 2022. <a href="https://ietresearch.onlinelibrary.wiley.com/doi/10.1049/cim2.12072" target="_blank"> <font color="#FF0000"><b>[Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Learning to Solve Multiple-TSP with Time Window and Rejection via Deep Reinforcement Learning,</b>
<br> Rongkai Zhang, Cong Zhang, <b>Zhiguang Cao</b>, Wen Song, Puay Siew Tan, Jie Zhang, Bihan Wen, and Justin Dauwels.<br>	
<i>IEEE Transactions on Intelligent Transportation Systems</i> <b>(T-ITS)</b>, 2022. <a href="https://github.com/zcaicaros/manager-worker-mtsptwr" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>JSSP</b></font>] <b>Flexible Job Shop Scheduling via Graph Neural Network and Deep Reinforcement Learning,</b>
<br>Wen Song, Xinyang Chen, Qiqiang Li, and <b>Zhiguang Cao</b>.<br>	
<i>IEEE Transactions on Industrial Informatics</i> <b>(TII)</b>, vol. 19, no. 2, pp. 1600-1610, 2022. <a href="https://github.com/songwenas12/fjsp-drl" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Deep Reinforcement Learning for UAV Routing in the Presence of Multiple Charging Stations,</b>
<br>Mingfeng Fan, Yaoxin Wu, Tianjun Liao, <b>Zhiguang Cao</b>, Hongliaing Guo, Guillaume Sartoretti, and Guohua Wu.<br>	
<i>IEEE Transactions on Vehicular Technology</i> <b>(TVT)</b>, 2022. <a href="https://github.com/mingfan321/HADRL"  target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	

<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Deep Reinforcement Learning for Solving the Heterogeneous Capacitated Vehicle Routing Problem,</b>
<br>Jingwen Li, Yining Ma, Ruize Gao, <b>Zhiguang Cao*</b>, Andrew Lim, Wen Song, and Jie Zhang.<br>	
<i>IEEE Transactions on Cybernetics</i> <b>(T-Cybernetics)</b>, vol. 52, no. 12, pp. 13572-13585 2021. <a href="https://github.com/Demon0312/HCVRP_DRL"  target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Learning Improvement Heuristics for Solving Routing Problems,</b>
<br>Yaoxin Wu, Wen Song*, <b>Zhiguang Cao*</b>, Jie Zhang, and Andrew Lim.<br>	
<i>IEEE Transactions on Neural Networks and Learning Systems</i> <b>(TNNLS)</b>, vol. 33, no. 9, pp. 5057-5069, 2021. <a href="https://github.com/WXY1427/Learn-Improvement-Heuristics-for-Routing"  target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Heterogeneous Attentions for Solving Pickup and Delivery Problem via Deep Reinforcement Learning,</b>
<br> Jingwen Li, Liang Xin, <b>Zhiguang Cao*</b>, Andrew Lim, Wen Song, and Jie Zhang.<br>	
<i> IEEE Transactions on Intelligent Transportation Systems</i> <b>(T-ITS)</b>, vol. 23, no. 3, pp. 2306-2315, 2021. <a href="https://github.com/Demon0312/Heterogeneous-Attentions-PDP-DRL" target="_blank"><font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li> 

<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>BPP</b></font>] <b>Learning to Solve 3-D Bin Packing Problem via Deep Reinforcement Learning and Constraint Programming,</b>
<br>Yuan Jiang, <b>Zhiguang Cao*</b>, and Jie Zhang.<br>	
<i>IEEE Transactions on Cybernetics</i> <b>(T-Cybernetics)</b>, 2021. <a href="https://ieeexplore.ieee.org/document/9606618" target="_blank"> <font>[Link] </font></a>
</p>	    
</li>

<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>CSP</b></font>] <b>Learning Variable Ordering Heuristics for Solving Constraint Satisfaction Problems,</b>
<br>Wen Song, <b>Zhiguang Cao*</b>, Jie Zhang, Chi Xu, and Andrew Lim.<br>	
<i>Engineering Applications of Artificial Intelligence</i> <b>(EAAI)</b>, 2021. <a href="https://github.com/songwenas12/csp-drl" target="_blank"> <font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li>
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>SSP</b></font>] <b>GP3: Gaussian Process Path Planning for Reliable Shortest Path in Transportation Networks,</b>
<br> Hongliang Guo, Xuejie Hou, <b>Zhiguang Cao*</b>, and Jie Zhang.<br>	
<i> IEEE Transactions on Intelligent Transportation Systems</i> <b>(T-ITS)</b>, 2021. <a href="https://ieeexplore.ieee.org/document/9522098" target="_blank">[Link]</a>
</p>	    
</li> 


<li>	    
<p>
<b>First Train Timetabling and Bus Service Bridging in Intermodal Bus-and-Train Transit Networks,</b>
<br> Liujiang Kang, Hao Li, Huijun Sun, Jianjun Wu, <b>Zhiguang Cao</b>, and Nsabimana Buhigiro.<br>	
<i> Transportation Research Part B: Methodological</i> <b>(TRB)</b>, vol. 149, pp. 443-462, 2021. <a href="https://www.sciencedirect.com/science/article/abs/pii/S0191261521000965" target="_blank">[Link]</a>
</p>	    
</li> 

	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>VRP</b></font>] <b>Step-wise Deep Learning Models for Solving Routing Problems,</b>
<br> Liang Xin, Wen Song, <b>Zhiguang Cao</b>, and Jie Zhang.<br>	
<i> IEEE Transactions on Industrial Informatics</i> <b>(TII)</b>, vol. 17, no. 7, pp. 4861-4871, 2020. <a href="https://github.com/liangxinedu/stepwise" target="_blank"><font color="#FF0000"><b>[Code&Paper]</b> </font></a>
</p>	    
</li> 
	
<li>	    
<p>
[<font color="#0000E3"><b>L2Opt</b></font>, <font color="#E333FF"><b>SSP</b></font>] <b>Using Reinforcement Learning to Minimize the Probability of Delay Occurrence in Transportation,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Wen Song, Kaizhou Gao, and Zhenghua Chen.<br>	
<i>IEEE Transactions on Vehicular Technology</i> <b>(TVT)</b>, vol. 69, no. 3, pp. 2424-2436, 2020. <a href="https://ieeexplore.ieee.org/document/8952783" target="_blank">[Link]</a>
</p>	    
</li>

<!--
	
<li>	    
<p>
<b>Improving the Performance of Transportation Networks: A Semi-Centralized Pricing Approach,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Wen Song, Kaizhou Gao, and Liujiang Kang.<br>	
<i>IEEE Transactions on Intelligent Transportation Systems</i> <b>(T-ITS)</b>, vol. 22, no. 10, pp. 6353-6364, 2020. <a href="https://ieeexplore.ieee.org/document/9098067" target="_blank">[Link]</a>
</p>	    
</li>  



	

	
<li>	    
<p>
<b>A Sampling Approach for Proactive Project Scheduling under Generalized Time-dependent Workability Uncertainty,</b>
<br> Wen Song, Donghun Kang, Jie Zhang, <b>Zhiguang Cao</b>*, and Hui Xi.<br>	
<i>Journal of Artificial Intelligence Research</i> <b>(JAIR)</b>, vol. 64, pp. 385-427, 2019. <a href="https://www.jair.org/index.php/jair/article/view/11369" target="_blank">[Link]</a>
</p>	    
</li>   

	


	
<li>	    
<p>
<b>A Multiagent-Based Approach for Vehicle Routing by Considering Both Arriving on Time and Total Travel Time,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, and Jie Zhang.<br>	
<i>ACM Transactions on Intelligent Systems and Technology</i> <b>(TIST)</b>, vol. 9, no. 3, Article No. 25, 2018. <a href="https://dl.acm.org/doi/10.1145/3078847" target="_blank">[Link]</a>
</p>	    
</li>

<li>	    
<p>
<b>An Accurate Solution To The Cardinality-based Punctuality Problem,</b>
<br> <b>Zhiguang Cao</b>, Yaoxin Wu, Akshay Rao,  Felix Klanner, Stefan Erschen, and Hongliang Guo.<br>	
<i> IEEE Intelligent Transportation Systems Magazine</i> <b>(ITSM)</b>, vol. 12, no. 4, pp. 78-91, 2018. <a href="https://ieeexplore.ieee.org/document/8543229" target="_blank">[Link]</a>
</p>	    
</li> 
	
<li>	    
<p>
<b>A Simulation Environment for Evaluation of Routing Algorithms for Improvement of Electromobility Related Services,</b>
<br> Akshay Rao, <b>Zhiguang Cao</b>, and  Felix Klanner.<br>	
<i> IEEE Intelligent Transportation Systems Magazine</i> <b>(ITSM)</b>, vol. 10, no. 1, pp. 133 - 144, 2018. <a href="https://ieeexplore.ieee.org/document/8263434" target="_blank">[Link]</a>
</p>	    
</li> 	
	
	
	
<li>	    
<p>
<b>A Unified Framework for Vehicle Rerouting and Traffic Light Control to Reduce Traffic Congestion,</b>
<br><b>Zhiguang Cao</b>, Siwei Jiang, Jie Zhang, and Hongliang Guo.<br>	
<i>IEEE Transactions on Intelligent Transportation Systems</i> <b>(T-ITS)</b>, vol. 18, no. 7, pp. 1958-1973, 2017. <a href="https://ieeexplore.ieee.org/abstract/document/7589067" target="_blank">[Link]</a>
</p>	    
</li>	
	
	
	
	
<li>	    
<p>
<b>Routing Multiple Vehicles Cooperatively: Minimizing Road Network Breakdown Probability,</b>
<br>Hongliang Guo, <b>Zhiguang Cao</b>*, Madhavan Seshadri, Jie Zhang, Dusit Niyato, and Ulrich Fastenrath.<br>	
<i>IEEE Transactions on Emerging Topics in Computational Intelligence</i> <b>(TETCI)</b>,  vol. 1, no. 2, pp. 112-124, 2017. <a href="https://ieeexplore.ieee.org/document/7845667" target="_blank">[Link]</a>
</p>	    
</li>
	
	
<li>	    
<p>
<b>Finding the `Faster' Path in Vehicle Routing,</b>
<br>Jing Guo, Yaoxin Wu, Xuexi Zhang, Le Zhang,  <b>Zhiguang Cao</b>, and Hongliang Guo.<br>	
<i>IET Intelligent Transport Systems</i> <b>(IET-ITS)</b>,  vol. 11, no.10, pp. 685-694, 2017. <a href="https://ieeexplore.ieee.org/document/8090509" target="_blank">[Link]</a>
</p>	    
</li>
	
<li>	    
<p>
<b>Finding the Shortest Path in Stochastic Vehicle Routing: A Cardinality Minimization Approach,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang, Dusit Niyato, and Ulrich Fastenrath.<br>	
<i>IEEE Transactions on Intelligent Transportation Systems</i> <b>(T-ITS)</b>,  vol. 17, no. 6, pp. 1688-1702, 2016. <a href="https://ieeexplore.ieee.org/document/7345570" target="_blank">[Link]</a>
</p>	    
</li>		
	

<li>	    
<p>
<b>Improving the Efficiency of Stochastic Vehicle Routing: A Partial Lagrange Multiplier Method,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang, Dusit Niyato, and Ulrich Fastenrath.<br>	
<i>IEEE Transactions on Vehicular Technology</i> <b>(TVT)</b>, vol. 65, no. 6, pp. 3993-4005, 2016. <a href="https://ieeexplore.ieee.org/document/7273960" target="_blank">[Link]</a>
</p>	    
</li>

-->

<!--
<li>	    
<p>
<b>An Improved Learnable Evolution Model for Solving Multi-Objective Vehicle Routing Problem with Stochastic Demand,</b>
<br>Yunyun Niu, Detian Kong, Rong Wen, <b>Zhiguang Cao</b>, and Jianhua Xiao.<br>	
<i>Knowledge-Based Systems</i> <b>(KNOSYS)</b>, vol. 230, 2021. <a href="https://www.sciencedirect.com/science/article/pii/S0950705121006407?dgcid=coauthor" target="_blank">[Link]</a>
</p>	    
</li>
-->	
	
	

<!--

	
<li>	    
<p>
<b>MIMOA: A Membrane-Inspired Multi-Objective Algorithm for Green Vehicle Routing Problem with Stochastic Demands,</b>
<br>Yunyun Niu, Yongpeng Zhang, <b>Zhiguang Cao</b>, Kaizhou Gao, Jianhua Xiao, Wen Song, and Fangwei Zhang.<br>	
<i>Swarm and Evolutionary Computation</i> <b>(SWEVO)</b>, vol. 107, 2020. <a href="https://www.sciencedirect.com/science/article/pii/S221065022030420X" target="_blank">[Link]</a>
</p>	    
</li>


<li>	    
<p>
<b>A Highly Efficient Vehicle Taillight Detection Approach Based on Deep Learning,</b>
<br>Qiaohong Li, Jiangtian Nie, Xiang Li, Ryan Wen Liu, and <b>Zhiguang Cao*</b>.<br>	
<i>IEEE Transactions on Intelligent Transportation Systems</i> <b>(T-ITS)</b>, 2020. <a href="https://www.sciencedirect.com/science/article/abs/pii/S0957417420306436" target="_blank">[Link]</a> 
</p>	    
</li> 

	
<li>	    
<p>
<b>A Review on Swarm Intelligence and Evolutionary Algorithms for Solving Flexible Job Shop Scheduling Problems,</b>
<br>KaiZhou Gao, <b>Zhiguang Cao</b>, Le Zhang, Zhenghua Chen, and Quanke Pan.<br>	
<i> IEEE/CAA Journal of Automatica Sinica</i> <b>(IEEE-JAS)</b>, vol. 6, no. 4, pp. 904-916, 2019. <a href="https://ieeexplore.ieee.org/document/8741295" target="_blank">[Link]</a>
</p>	    
</li> 

 -->
	


<!--	
<li>	    
<p>
<b>Cost-Sensitive Deep Forest for Price Prediction,</b>
<br>Chao Ma, Zhenbing Liu, <b>Zhiguang Cao*</b>, Wen Song, Jie Zhang, and Weiliang Zeng.<br>	
<i>Pattern Recognition</i> <b>(PR)</b>, vol. 107, 2020. <a href="https://www.sciencedirect.com/science/article/pii/S0031320320303022" target="_blank">[Link]</a> <a href="https://github.com/machao199271/cost_sensitive_deep_forest" target="_blank"><font color="#FF0000"><b>[Code&Data]</b> </font></a>
</p>	    
</li> 
-->

	



  
	
<!--	

<li>	    
<p>
<b>WiFi-Based Indoor Robot Positioning Using Deep Fuzzy Forests,</b>
<br>Le Zhang, Zhenghua Chen, Wei Cui, Bing Li, Cen Chen, and <b>Zhiguang Cao</b>.<br>	
<i>IEEE Internet of Things Journal</i> <b>(IoT)</b>, vol. 7, no. 11, pp. 10773 - 10781, 2020. <a href="https://ieeexplore.ieee.org/document/9060874" target="_blank">[Link]</a>
</p>	    
</li>

<li>	    
<p>
<b>WiFi CSI Based Passive Human Activity Recognition Using Attention Based BLSTM,</b>
<br> Zhenghua Chen, Le Zhang, Chaoyang Jiang, <b>Zhiguang Cao</b>, and Wei Cui.<br>	
<i> IEEE Transactions on Mobile Computing</i> <b>(TMC)</b>, vol. 18, no. 11, pp. 2714 - 2724, 2019. <a href="https://ieeexplore.ieee.org/document/8514811" target="_blank">[Link]</a>
</p>	    
</li> 

<li>	    
<p>
<b>Detecting the shuttlecock for a badminton robot: A YOLO based approach,</b>
<br><b>Zhiguang Cao</b>, Tingbo Liao, Wen Song, Zhenghua Chen, and Chongshou Li.<br>	
<i>Expert Systems with Applications</i> <b>(ESWA)</b>, 2020. <a href="https://www.sciencedirect.com/science/article/abs/pii/S0957417420306436" target="_blank">[Link]</a> 
</p>	    
</li> 

<li>	    
<p>
<b>A Novel Robotic Guidance System with Eye Gaze Tracking Control for Needle based Interventions,</b>
<br>Jing Guo, Yi Liu, Qing Qiu, Jie Huang, <b>Zhiguang Cao</b>*, and Yue Chen.<br>	
<i> IEEE Transactions on Cognitive and Developmental Systems</i> <b>(TCDS)</b>, vol. 13, no. 1, pp. 179-188, 2020. <a href="https://ieeexplore.ieee.org/document/8931566" target="_blank">[Link]</a>
</p>	    
</li>  

	
<li>	    
<p>
<b>Using FTOC to Track Shuttlecock for the Badminton Robot,</b>
<br>Wei Chen, Tingbo Liao, Zhihang Li, Haozhi Lin, and <b>Zhiguang Cao</b>*.<br>	
<i> Neurocomputing</i> <b>(NEUCOM)</b>, vol. 334, pp. 182-196, 2019. <a href="https://www.sciencedirect.com/science/article/pii/S0925231219300359" target="_blank">[Link]</a>
</p>	    
</li>  
	
<li>	    
<p>
<b>Distilling the Knowledge from Handcrafted Features for Human Activity Recognition,</b>
<br> Zhenghua Chen, Le Zhang, <b>Zhiguang Cao</b>, and Jing Guo.<br>	
<i> IEEE Transactions on Industrial Informatics</i> <b>(TII)</b>, vol.14, no. 10, pp. 4334 - 4342, 2018. <a href="https://ieeexplore.ieee.org/document/8247224" target="_blank">[Link]</a>
</p>	    
</li> 
-->
	
</ol>  

	    
	    
	    
<!------------------------------------------------------------- Patents Here -------------------------------------------------->	    
<h4 style="margin-bottom:0px;padding-top:20px;">Patents</h4>

    <!-- Item: Caelles2016 -->
<ul style="padding-left:0px;">

	
<li>	    
<p>
<b>Fahrrouten für Landfahrzeuge  (A Method for determining routes for road vehicles),</b>
<br>Ulrich Fastenrath, Jie Zhang, <b>Zhiguang Cao</b>,  Hongliang Guo. DE 10 2016 220 561 A1, 2018.04.26. (German)<br>	
</p>	    
</li>
	    
<li>	    
<p>
<b>Verfahren zur kooperativen Berechnung von Fahrrouten für Landfahrzeuge  (A Method For Cooperative Calculation of Travel Routes for Land Vehicles),</b>
<br>Ulrich Fastenrath, <b>Zhiguang Cao</b>, Hongliang Guo, Dusit Niyato, Jie Zhang. DE 10 2015 223 824 A1, 2017.06.01. (German)<br>	
</p>	    
</li>
	
<li>	    
<p>
<b>Verfahren zur Berechnung einer Route fur ein Landfahrzeug  (A Method For Calculating A Route For A Land Vehicle),</b>
<br>Ulrich Fastenrath, <b>Zhiguang Cao</b>, Dusit Niyato, Hongliang Guo, Jie Zhang. DE 10 2015 205 901 A1, 2016.10.06. (German)<br>	
</p>	    
</li>



</ul> 	  
  
   
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
