<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap" style="width:800px;padding-right:100px">
      {{ content }}


<!------------------------------------------------------------- Submissions Here ------------------------------------------------------------>		    
<h4 style="margin-bottom:0px;padding-top:20px;">Submissions</h4>

    <!-- Item: Caelles2016 -->
<ul style="padding-left:0px;">
<ol >
	
<li>	    
<p>
<b>Deep Reinforcement Learning for Solving the Heterogeneous Capacitated Vehicle Routing Problem,</b>
<br>Jingwen Li, Ruize Gao, <b>Zhiguang Cao</b>, Zhenzhen Zhang, Andrew Lim, Wen Song, Jie Zhang.<br>	
2020.
</p>	    
</li>
	
<li>	    
<p>
<b>Learning Variable Ordering Heuristics for Solving Constraint Satisfaction Problems,</b>
<br>Wen Song, <b>Zhiguang Cao</b>, Jie Zhang, Andrew Lim.<br>	
<i>Arxiv</i>, 2019. <a href="https://arxiv.org/abs/1912.10762" target="_blank">[Link]</a>
</p>	    
</li>
	
<li>	    
<p>
<b>Learning Improvement Heuristics for Solving Routing Problems,</b>
<br>Yaoxin Wu, Wen Song, <b>Zhiguang Cao</b>, Jie Zhang, Andrew Lim.<br>	
<i>Arxiv</i>, 2019. <a href="https://arxiv.org/abs/1912.05784v2" target="_blank">[Link]</a>
</p>	    
</li>
	
</ol>
</ul>
	    
<!-------------------------------------------------------------Conference Papers Here ------------------------------------------------------------>		    
<h4 style="margin-bottom:0px;padding-top:20px;">Conference Papers</h4>

    <!-- Item: Caelles2016 -->
<ul style="padding-left:0px;">
<ol >
	
<li>	    
<p>
<b>AATEAM: Achieving the Ad Hoc Teamwork by Employing the Attention Mechanism,</b>
<br>Shuo Chen, Ewa Andrejczuk, <b>Zhiguang Cao</b>, Jie Zhang.<br>	
<i>34th AAAI Conference on Artificial Intelligence</i> <b>(AAAI)</b>, 2020. <a href="https://aaai.org/Conferences/AAAI-20/"  target="_blank">[Link]</a>
</p>	    
</li>    

<li>	    
<p>
<b>An Integrated Approach for a Universal Routing Algorithm,</b>
<br>Mareike Hedderich, Ulrich Fastenrath, <b>Zhiguang Cao</b>, Michael Bell and Klaus Bogenberger.<br>	
<i> 22nd IEEE International Conference on Intelligent Transportation Systems </i> <b>(ITSc)</b>, pp. 3088-3093, 2019. <a href="https://ieeexplore.ieee.org/document/8917123" target="_blank">[Link]</a>
</p>	    
</li>  
	
<li>	    
<p>
<b>Maximizing the Probability of Arriving on Time: A Practical Q-Learning Method,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang, Frans Oliehoek and Ulrich Fastenrath.<br>	
<i>31st AAAI Conference on Artificial Intelligence</i> <b>(AAAI)</b>, pp. 4481-4487, 2017. <a href="https://www.semanticscholar.org/paper/Maximizing-the-Probability-of-Arriving-on-Time%3A-A-Cao-Guo/ee5630ff654323c050b9f0a2cf74662520422b08"  target="_blank">[Link]</a>
</p>	    
</li>  	
	
	
<li>	    
<p>
<b>Multiagent-based Cooperative Vehicle Routing Using Node Pressure and Auctions,</b>
<br>Madhavan Seshadri, <b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang, and Ulrich Fastenrath.<br>	
<i>20th IEEE International Conference on Intelligent Transportation Systems</i> <b>(ITSc)</b>,  2017. <a href="https://ieeexplore.ieee.org/document/8317671" target="_blank">[Link]</a>
</p>	    
</li>
	

<li>	    
<p>
<b>Multiagent-based Route Guidance for Increasing the Chance of Arrival on Time,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang, and Ulrich Fastenrath.<br>	
<i>30th AAAI Conference on Artificial Intelligence</i> <b>(AAAI)</b>, pp. 3814-3820, 2016. <a href="https://dl.acm.org/doi/10.5555/3016387.3016441" target="_blank">[Link]</a>
</p>	    
</li>  	
	

<li>	    
<p>
<b>A Data-Driven Method for Stochastic Shortest Path Problem,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang, Dusit Niyato, and Ulrich Fastenrath.<br>	
<i>17th IEEE International Conference on Intelligent Transportation Systems</i> <b>(ITSc)</b>, pp. 1045-1052, 2014. <a href="https://ieeexplore.ieee.org/document/6957826" target="_blank">[Link]</a>
</p>	    
</li>

	
<li>	    
<p>
<b>Routing Multiple Cars in Large Scale Networks: Minimizing Road Network Breakdown Probability,</b>
<br>Hongliang Guo, <b>Zhiguang Cao</b>, Jie Zhang, Dusit Niyato, and Ulrich Fastenrath.<br>	
<i>17th IEEE International Conference on Intelligent Transportation Systems</i> <b>(ITSc)</b>, pp. 2180-2187, 2014. <a href="https://ieeexplore.ieee.org/document/6958026" target="_blank">[Link]</a>
</p>	    
</li>
	
<li>	    
<p>
<b>A Multi-hop Reputation Announcement Scheme for VANETs,</b>
<br><b>Zhiguang Cao</b>, Qin Li, Hoon Wei Lim, and Jie Zhang.<br>	
<i>IEEE International Conference on Service Operations and Logistics, and Informatics </i> <b>(SOLI)</b>, pp. 1045-1052, 2014. <a href="https://ieeexplore.ieee.org/document/6960728" target="_blank">[Link]</a>
</p>	    
</li>	
	
</ol>
</ul> 	    
	    
<!-------------------------------------------------------------Journal Papers Here ------------------------------------------------------------>		    
<h4 style="margin-bottom:0px;padding-top:20px;">Journal Articles</h4>

    <!-- Item: Caelles2016 -->
<ul style="padding-left:0px;">
<ol >
	
<li>	    
<p>
<b>Using Reinforcement Learning to Minimize the Probability of Delay Occurrence in Transportation,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Wen Song, Kaizhou Gao, Zhenghua Chen, Le Zhang, Xuexi Zhang.<br>	
<i>IEEE Transactions on Vehicular Technology</i> <b>(TVT)</b>, vol. 69, no. 3, pp. 2424-2436, 2020. <a href="https://ieeexplore.ieee.org/document/8952783" target="_blank">[Link]</a>
</p>	    
</li>
	    
<li>	    
<p>
<b>Improving the Performance of Transportation Networks: A Semi-Centralized Pricing Approach,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Wen Song, Kaizhou Gao, Liujiang Kang, Xuexi Zhang, Qilun Wu.<br>	
<i>IEEE Transactions on Intelligent Transportation Systems</i> <b>(T-ITS)</b>, 2020. (In Press)
</p>	    
</li>  

<li>	    
<p>
<b>Cost-Sensitive Deep Forest for Price Prediction,</b>
<br>Chao Ma, Zhenbing Liu, <b>Zhiguang Cao*</b>, Wen Song, Jie Zhang, Weiliang Zeng.<br>	
<i>Pattern Recognition</i> <b>(PR)</b>, 2020. (Accept with Minor Revision)
</p>	    
</li> 

<li>	    
<p>
<b>WiFi-Based Indoor Robot Positioning Using Deep Fuzzy Forests,</b>
<br>Le Zhang, Zhenghua Chen, Wei Cui, Bing Li, Cen Chen, <b>Zhiguang Cao</b>, Kaizhou Gao.<br>	
<i>IEEE Internet of Things Journal</i> <b>(IoT)</b>, 2020. <a href="https://ieeexplore.ieee.org/document/9060874" target="_blank">[Link]</a>
</p>	    
</li>
	
	
<li>	    
<p>
<b>A Sampling Approach for Proactive Project Scheduling under Generalized Time-dependent Workability Uncertainty,</b>
<br> Wen Song, Donghun Kang, Jie Zhang, <b>Zhiguang Cao</b>*, and Hui Xi.<br>	
<i>Journal of Artificial Intelligence Research</i> <b>(JAIR)</b>, vol. 64, pp. 385-427, 2019. <a href="https://www.jair.org/index.php/jair/article/view/11369" target="_blank">[Link]</a>
</p>	    
</li>   

	
<li>	    
<p>
<b>WiFi CSI Based Passive Human Activity Recognition Using Attention Based BLSTM,</b>
<br> Zhenghua Chen, Le Zhang, Chaoyang Jiang, <b>Zhiguang Cao</b>, and Wei Cui.<br>	
<i> IEEE Transactions on Mobile Computing</i> <b>(TMC)</b>, vol. 18, no. 11, pp. 2714 - 2724, 2019. <a href="https://ieeexplore.ieee.org/document/8514811" target="_blank">[Link]</a>
</p>	    
</li> 

	
<li>	    
<p>
<b>A Review on Swarm Intelligence and Evolutionary Algorithms for Solving Flexible Job Shop Scheduling Problems,</b>
<br>KaiZhou Gao, <b>Zhiguang Cao</b>, Le Zhang, Zhenghua Chen, Yuyan Han, Quanke Pan.<br>	
<i> IEEE/CAA Journal of Automatica Sinica</i> <b>(IEEE-JAS)</b>, vol. 6, no. 4, pp. 904-916, 2019. <a href="https://ieeexplore.ieee.org/document/8741295" target="_blank">[Link]</a>
</p>	    
</li>   
	

<li>	    
<p>
<b>A Novel Robotic Guidance System with Eye Gaze Tracking Control for Needle based Interventions,</b>
<br>Jing Guo, Yi Liu, Qing Qiu, Jie Huang, Chao Liu, <b>Zhiguang Cao</b>*, Yue Chen.<br>	
<i> IEEE Transactions on Cognitive and Developmental Systems</i> <b>(TCDS)</b>, 2019. <a href="https://ieeexplore.ieee.org/document/8931566" target="_blank">[Link]</a>
</p>	    
</li>  
	
<li>	    
<p>
<b>Using FTOC to Track Shuttlecock for the Badminton Robot,</b>
<br>Wei Chen, Tingbo Liao, Zhihang Li, Haozhi Lin, Hong Xue, Le Zhang, Jing Guo, and <b>Zhiguang Cao</b>*.<br>	
<i> Neurocomputing</i> <b>(NEUCOM)</b>, vol. 334, pp. 182-196, 2019. <a href="https://www.sciencedirect.com/science/article/pii/S0925231219300359" target="_blank">[Link]</a>
</p>	    
</li>  

	
<li>	    
<p>
<b>An Accurate Solution To The Cardinality-based Punctuality Problem,</b>
<br> <b>Zhiguang Cao</b>, Yaoxin Wu, Akshay Rao,   Felix Klanner, Stefan Erschen, Wei Chen, Le Zhang, and Hongliang Guo.<br>	
<i> IEEE Intelligent Transportation Systems Magazine</i> <b>(ITSM)</b>, 2018. <a href="https://ieeexplore.ieee.org/document/8543229" target="_blank">[Link]</a>
</p>	    
</li>  	

<li>	    
<p>
<b>A Multiagent-Based Approach for Vehicle Routing by Considering Both Arriving on Time and Total Travel Time,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang.<br>	
<i>ACM Transactions on Intelligent Systems and Technology</i> <b>(TIST)</b>, vol. 9, no. 3, Article No. 25, 2018. <a href="https://dl.acm.org/doi/10.1145/3078847" target="_blank">[Link]</a>
</p>	    
</li>
	
<li>	    
<p>
<b>A Simulation Environment for Evaluation of Routing Algorithms for Improvement of Electromobility Related Services,</b>
<br> Akshay Rao, <b>Zhiguang Cao</b>, and  Felix Klanner.<br>	
<i> IEEE Intelligent Transportation Systems Magazine</i> <b>(ITSM)</b>, vol. 10, no. 1, pp. 133 - 144, 2018. <a href="https://ieeexplore.ieee.org/document/8263434" target="_blank">[Link]</a>
</p>	    
</li> 	
	
<li>	    
<p>
<b>Distilling the Knowledge from Handcrafted Features for Human Activity Recognition,</b>
<br> Zhenghua Chen, Le Zhang, <b>Zhiguang Cao</b>, and Jing Guo.<br>	
<i> IEEE Transactions on Industrial Informatics</i> <b>(TII)</b>, vol.14, no. 10, pp. 4334 - 4342, 2018. <a href="https://ieeexplore.ieee.org/document/8247224" target="_blank">[Link]</a>
</p>	    
</li> 
	
	
<li>	    
<p>
<b>A Unified Framework for Vehicle Rerouting and Traffic Light Control to Reduce Traffic Congestion,</b>
<br><b>Zhiguang Cao</b>, Siwei Jiang, Jie Zhang, and Hongliang Guo.<br>	
<i>IEEE Transactions on Intelligent Transportation Systems</i> <b>(T-ITS)</b>, vol. 18, no. 7, pp. 1958-1973, 2017. <a href="https://ieeexplore.ieee.org/abstract/document/7589067" target="_blank">[Link]</a>
</p>	    
</li>	
	
	
	
	
<li>	    
<p>
<b>Routing Multiple Vehicles Cooperatively: Minimizing Road Network Breakdown Probability,</b>
<br>Hongliang Guo, <b>Zhiguang Cao</b>*, Madhavan Seshadri, Jie Zhang, Dusit Niyato, and Ulrich Fastenrath.<br>	
<i>IEEE Transactions on Emerging Topics in Computational Intelligence</i> <b>(TETCI)</b>,  vol. 1, no. 2, pp. 112-124, 2017. <a href="https://ieeexplore.ieee.org/document/7845667" target="_blank">[Link]</a>
</p>	    
</li>
	
	
<li>	    
<p>
<b>Finding the `Faster' Path in Vehicle Routing,</b>
<br>Jing Guo, Yaoxin Wu, Xuexi Zhang, Le Zhang, Wei Chen, <b>Zhiguang Cao</b>, Lu Zhang, Hongliang Guo.<br>	
<i>IET Intelligent Transport Systems</i> <b>(IET-ITS)</b>,  vol. 11, no.10, pp. 685-694, 2017. <a href="https://ieeexplore.ieee.org/document/8090509" target="_blank">[Link]</a>
</p>	    
</li>
	
<li>	    
<p>
<b>Finding the Shortest Path in Stochastic Vehicle Routing: A Cardinality Minimization Approach,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang, Dusit Niyato, and Ulrich Fastenrath.<br>	
<i>IEEE Transactions on Intelligent Transportation Systems</i> <b>(T-ITS)</b>,  vol. 17, no. 6, pp. 1688-1702, 2016. <a href="https://ieeexplore.ieee.org/document/7345570" target="_blank">[Link]</a>
</p>	    
</li>		
	

<li>	    
<p>
<b>Improving the Efficiency of Stochastic Vehicle Routing: A Partial Lagrange Multiplier Method,</b>
<br><b>Zhiguang Cao</b>, Hongliang Guo, Jie Zhang, Dusit Niyato, and Ulrich Fastenrath.<br>	
<i>IEEE Transactions on Vehicular Technology</i> <b>(TVT)</b>, vol. 65, no. 6, pp. 3993-4005, 2016. <a href="https://ieeexplore.ieee.org/document/7273960" target="_blank">[Link]</a>
</p>	    
</li>
	

</ol>
</ul>  

	    
	    
	    
<!------------------------------------------------------------- Patents Here -------------------------------------------------->	    
<h4 style="margin-bottom:0px;padding-top:20px;">Patents</h4>

    <!-- Item: Caelles2016 -->
<ul style="padding-left:0px;">
<ol >
	
<li>	    
<p>
<b>Fahrrouten für Landfahrzeuge  (A Method for determining routes for road vehicles),</b>
<br>Ulrich Fastenrath, Jie Zhang, <b>Zhiguang Cao</b>,  Hongliang Guo. DE 10 2016 220 561 A1, 2018.04.26. (German)<br>	
</p>	    
</li>
	    
<li>	    
<p>
<b>Verfahren zur kooperativen Berechnung von Fahrrouten für Landfahrzeuge  (A Method For Cooperative Calculation of Travel Routes for Land Vehicles),</b>
<br>Ulrich Fastenrath, <b>Zhiguang Cao</b>, Hongliang Guo, Dusit Niyato, Jie Zhang. DE 10 2015 223 824 A1, 2017.06.01. (German)<br>	
</p>	    
</li>
	
<li>	    
<p>
<b>Verfahren zur Berechnung einer Route fur ein Landfahrzeug  (A Method For Calculating A Route For A Land Vehicle),</b>
<br>Ulrich Fastenrath, <b>Zhiguang Cao</b>, Dusit Niyato, Hongliang Guo, Jie Zhang. DE 10 2015 205 901 A1, 2016.10.06. (German)<br>	
</p>	    
</li>


</ol>
</ul> 	  
  
   
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
